* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* regole header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6900;
    color: white;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 40px;
}

/* regole navigazione header */

ul.list-mainnav {
    display: flex;
    gap: 25px;
}

ul.list-mainnav li {
    list-style: none;
}

.logo {
    width: 150px;
}

.profile i {
    padding-left: 10px;
}

/* regole main */

main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: 40px 0;
}

.product {
    width: 32%;
    margin-bottom: 20px;
    position: relative;
}

.product img {
    width: 100%;
}

.image {
    display: flex;
    position: relative;
}

.labels {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 100%;
    /* flex-shrink: 1; */
}


.product-text {
    font-size: 18px;
    font-weight: 600;
}

.discount-price {
    color: #ff0000;
}

.price {
    text-decoration: line-through;
}

.heart {
    font-size: 30px;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 2%;
    right: 0;
}

/* regole hover immagini */

.second-img {
    display: none;
}

.image:hover .second-img {
    display: inline-block;
}

.image:hover .first-img {
    display: none;
}

/* regole label */

.label {
    padding: 5px;
    color: white;
}

.discount {
    background-color: #ff0000;
}

.sostenib {
    background-color: #008000;
}

/* regole footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: white;
    height: 100px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 40px;
}

.foot-social {
    text-align: center;
}

.foot-text a {
    padding-right: 10px;
}

.social {
    font-size: 20px;
    text-align: center;
}

.social i {
    padding-right: 10px;
}